<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">Todo App</a>
    </div>
  </div>
</nav>
<app-todo>

</app-todo>

