<div *ngFor="let todo of todoList" class="mt16">
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{todo.title}}
      </mat-panel-title>
      <mat-panel-description>
        Click to view description
      </mat-panel-description>
    </mat-expansion-panel-header>

    {{todo.description}}<br><br>
    {{todo.complete ? 'Completed' : 'Pending'}}

    <mat-action-row>
      <span>
        <button mat-raised-button color="warn" (click)="onRemoveTodo(todo.id)">Delete</button>
      </span>
      <span class="ml16">
        <button mat-raised-button color="primary" (click)="onEditTodo(todo)">Edit</button>
      </span>
       <span class="ml16">
        <button mat-raised-button color="accent" (click)="onCompleteTodo(todo)">Complete</button>
      </span>
    </mat-action-row>
  </mat-expansion-panel>
  </mat-accordion>
</div>
