<div class="container">
  <div>
    <mat-form-field class="todo-input-width">
      <input matInput placeholder="Title" [(ngModel)]="todoItem.title" >
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="todo-input-width">
      <textarea matInput placeholder="Description" [(ngModel)]="todoItem.description"></textarea>
    </mat-form-field>
    <span class="ml16">
      <button mat-raised-button
              (click)="onAddItem()"
              color="primary">{{currentMode}}</button>
    </span>

    <span *ngIf="currentMode !== 'Add';" class="ml16">
      <button mat-raised-button
              (click)="reset()"
              color="primary">Cancel</button>
    </span>
  </div>

  <app-todo-list [todoList] = "todoList" (onRemove) = "onRemove($event)" (onEdit) = "onEdit($event)" (onComplete) = "onComplete($event)">

  </app-todo-list>
</div>
