/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.ml16 {
  margin-left: 16px;
}

.mt16 {
  margin-top: 16px;
}
